
<div *ngIf="groceryList">
    <h2><span>Grocery List</span> {{groceryList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>List Name</span></dt>
        <dd>
            <span>{{groceryList.listName}}</span>
        </dd>
        <dt><span>Item Name</span></dt>
        <dd>
            <span>{{groceryList.itemName}}</span>
        </dd>
        <dt><span>List Owner</span></dt>
        <dd>
            {{groceryList.listOwner?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'grocery-list/'+ groceryList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
