<div class="container">
<div class="row">
	<ul class="nav nav-tabs tab-menu">
	  <li class="nav-item tab-item">
	    <a (click)="clickTabs(1)" class="nav-link tab-green"></a>
	  </li>
	  <li class="nav-item tab-item">
	    <a (click)="clickTabs(2)" class="nav-link tab-purpel"></a>
	  </li>
	  <li class="nav-item tab-item">
	    <a (click)="clickTabs(3)" class="nav-link tab-yellow"></a>
	  </li>
	  <li class="nav-item tab-item">
	    <a (click)="clickTabs(4)" class="nav-link tab-blue"></a>
	  </li>
	  <li class="nav-item tab-item">
	    <a (click)="clickTabs(5)" class="nav-link tab-red"></a>
	  </li>
	</ul>
</div>
<div class="row">
	<input type="text" class="input-grocerys" 
	(keyup.enter)="addItem($event)" [(ngModel)]="itemName" 
	placeholder="what more?" />
</div>
<div class="row">
	<div>
		<ul *ngFor="let groceries of filtrateGroceryList()" class="list-style">
			<li class="not-over-drawn " 
			(click)="clickListItem($event)" (dblclick)="dblClickListItem(groceries)">
			{{groceries.itemName}}</li>
		</ul>
	</div>
</div>
</div>
