<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGroceryListLabel">Create or edit a Grocery List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!groceryList.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="groceryList.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_listName">List Name</label>
            <input type="number" class="form-control" name="listName" id="field_listName"
                [(ngModel)]="groceryList.listName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itemName">Item Name</label>
            <input type="text" class="form-control" name="itemName" id="field_itemName"
                [(ngModel)]="groceryList.itemName" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_listOwner">List Owner</label>
            <select class="form-control" id="field_listOwner" name="listOwner" [(ngModel)]="groceryList.listOwner" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === groceryList.listOwner?.id ? groceryList.listOwner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
